
  <div class="upload-container">
    <input type="file" (change)="onFileSelected($event)" [disabled]="isUploading" accept="audio/wav" />
    
    <div *ngIf="selectedFile && !previewVisible && !hasUploaded">
      <button (click)="previewAudio()">Preview</button>
    </div>
    
    <div *ngIf="previewVisible && audioPreviewUrl">
      <audio [src]="audioPreviewUrl" controls></audio>
    </div>
  
    <div *ngIf="selectedFile && !hasUploaded">
      <button (click)="uploadFile()" [disabled]="isUploading" class="">
        {{ isUploading ? 'Uploading...' : 'Upload' }}
      </button>
    </div>
    <div *ngIf="uploadStatus" class="status">
      {{ uploadStatus }}
    </div>
  
    <div class="spinner" *ngIf="isUploading"></div>
  </div>
  
  